.ap_design{
    border-radius: 10px;
    background-image: url(../img/home/desktop/image-web-design-small.jpg);
}
.ap_design p{
    width: 450px;
}
.bakground h2{
    font-size: 70px;
    margin-left: 200px;
    margin-top: 50px;
}