.footer_container{
    /* display: flex; */
    background-color: var( --black-color);
    width: 1518px;
    height: 393px;
    margin-top: 385px;
}
.tooop{
    color: #fff;
    opacity: 50%;
    margin-left: 165px;
    display: flex;
}
.tiziq_footer{
    width: 1111px;
    background-color: #707070;
    height: 1px;
    margin-left: 180px;
    margin-top: 40px;
    margin-bottom: 31px;
}
.ofice p{
    line-height: 26px;
}
