.web_main{
    height: 252px;
    background-color: #E7816B;
    padding-top: 64px;
    text-align: center;
    color: #fff;
    background-image: url(../img/app-design/desktop/bg-pattern-intro-app.svg);
    border-radius: 10px;
    margin-bottom: 160px;
}
.web_main h2{
    font-size:48px;
    margin-bottom: 24px;
    line-height:48px;
}
.web_main p{
    width: 430px;
    margin-left: 400px;
}
.web_card{
    width: 350px;
    height: 478px;
    background-color: #fdf3f0;
    border-radius: 10px;
}
.web_card img{
    width: 350px;
    height: 320px;
    margin-bottom: 32px;
}
.web_card h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
    color:  #E7816B;
    margin-bottom: 16px;
    margin-left: 120px;
}
.web_card p{
    width: 286px;
    height: 52px;
    color: #333136;
    text-align: center;
    margin-left:35px;
}
.web_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.top_header{
    display: flex;
    margin-top: 160px;
    gap: 30px;
}
.ap_design{
    background-image: url(../img/home/desktop/image-app-design.jpg);
    width: 541px;
    height: 308px;
    color: #fff;
    border-radius: 5px;
}
.ap_designn{
    background-image: url(../img/new/Bitmap.png);
    width: 541px;
    height: 308px;
    color: #fff;
    border-radius: 5px;
}
.ap_design p{
    width: 400px;
    height: 48px;
    font-size: 4.0rem;
    font-weight: 500;
    line-height: 4.8rem;
    letter-spacing: 2px;
    padding-top: 107px;
    padding-left: 144px;
}
.ap_designn p{
    width: 400px;
    height: 48px;
    font-size: 4.0rem;
    font-weight: 500;
    line-height: 4.8rem;
    letter-spacing: 2px;
    padding-top: 107px;
    padding-left: 144px;
}
.ap_design a{
    color: #fff;
    margin-top: 64px;
    margin-left: 172px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.1rem;
    letter-spacing: 5px;
    display: flex;
    width: 200px;
}
.ap_designn a{
    color: #fff;
    margin-top: 64px;
    margin-left: 172px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.1rem;
    letter-spacing: 5px;
    display: flex;
    width: 200px;
}